.product-card-text{
    font-size: 1.1rem !important;
    font-family: roboto;
    font-weight: 400;
}
.stock-out{
    color: orangered !important;
    font-size: 1.1rem !important;
    font-family: roboto;
    font-weight: 400;
}
.button-wrapper{
    margin-top: 5px;
}
.price{
    color: orange;
    font-size: 24px;
}